<nav class="navbar navbar-dark fixed-top bg-dark mb-5">
    <li class="navbar-brand"><a class="nav-link" routerLink="home">Log messaggi Whatsapp Business</a></li>
    <div class="navbar-expand mr-auto">
            <ul class="nav navbar-nav" routerLinkActive="active">
                    <li class="nav-item"><a class="nav-link" routerLink="inviati">Inviati</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="ricevuti">Ricevuti</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="rispondi">Invia wa</a></li>
            </ul>
    </div>
</nav>

