<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Invio wa</h1>
            <form>
              <div class="form-group" name="form_send">
                <label for="name">Destinatario</label>
                <input type="text" class="form-control" id="name" required>
              </div>
              <div class="form-group">
                    <label for="risposta">Risposta</label>
                    <textarea rows="4" cols="50" type="text" class="form-control" id="risposta" required></textarea>
                  </div>
              <div class="form-group">
                <label for="Testo">Testo</label>
                <textarea rows="4" cols="50" type="text" class="form-control" id="Testo"></textarea>
              </div>
         
              <button type="submit" class="btn btn-success">Submit</button>
         
            </form>
        </div>
                </div>
            </div>