.container {
    background-image: url('/assets/wab_desktop.png');
}
.jumbotron {
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.lead {
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.w{
    color: red;
}