<div class="jumbotron">
    <div class="container">
        <h2></h2>
        <h3></h3>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">
            <i class="w">W</i>hats
            <i class="w">A</i>pp
            <i class="w">B</i>usiness for
            <img src="/assets/logo.jpg" alt="Smiley face" height="220" width="220">
        </h1>
                    <p class="lead">Clicca su "Inviati" per visualizzare i messaggi inviati e su
                        "Ricevuti" per visualizzare i messaggi ricevuti</p>
                </div>
            </div>